<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome!!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{url_for('static',filename='images/icons/favicon.ico')}}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/bootstrap/css/bootstrap.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='fonts/iconic/css/material-design-iconic-font.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/animate/animate.css')}}">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/css-hamburgers/hamburgers.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/animsition/css/animsition.min.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/select2/select2.min.css')}}">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='vendor_old/daterangepicker/daterangepicker.css')}}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css_old/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css_old/main.css')}}">
	<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			


			<div class="wrap-login100 p-t-85 p-b-20">
				{% block content %}
				{% endblock %}
				
			</div>
		</div>
	</div>
	

	
	
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor_old/jquery/jquery-3.2.1.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor_old/animsition/js/animsition.min.js')}}"></script>
	<!--===============================================================================================-->
	<!--<script src="{{url_for('static',filename='vendor/bootstrap/js/popper.js')}}"></script>-->
	<script src="{{url_for('static',filename='vendor_old/bootstrap/js/bootstrap.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor_old/select2/select2.min.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor_old/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static',filename='vendor_old/daterangepicker/daterangepicker.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='vendor_old/countdowntime/countdowntime.js')}}"></script>
	<!--===============================================================================================-->
	<script src="{{url_for('static',filename='js/main.js')}}"></script>

</body>
</html>