{% extends "base_form.html" %}
{% block content%}
<form class="login100-form validate-form" method="POST" action="">
					{{ form.hidden_tag() }}
					<span class="login100-form-title p-b-70">
						Welcome To GenispAI
					</span>
					<span class="login100-form-avatar p-b-200">
						<img src="{{url_for('static',filename='images/cropped-AI.png')}}" alt="LOGO">
					</span>
					<span class="login100">
						{% if refresh==False %}
						{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
						{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
						{% endfor %}
						{% endif %}
						{% endwith %}
						{% endif %}
						{% set refresh=True %}
					</span>

					<div class="wrap-input100 validate-input m-t-35 m-b-35" data-validate = "Enter username">
						
						
						{{form.username(class="input100",value="")}}
						

						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-35" data-validate="Enter password">
						
						{{form.password(class="input100",type="password")}}
						
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
					<div class="form-check m-b-35 m-l-20 ">

						{{form.remember(class="form-check-input")}}
						{{form.remember.label(class="form-check-label txt1")}}
					</div>

					<div class="container-login100-form-btn">
						{{ form.submit(class="login100-form-btn") }}
					</div>
					
					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

					</ul>
				</form>
{% endblock %}